{{ $cls := .Scratch.Get "mode" }}

<div class="modal fade" id="form-modal-hero" aria-hidden="true" aria-labelledby="form-modal-heroLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <div class="modal-body">
           
            <div class="form__wrap">

                <h3 class="form__title">
                    Заявка на підключення
                </h3>
        
                <h4 class="form__subtitle">
                    Відправте форму, і наш менеджер зв'яжеться з вами
                </h4>
        
                <form action="#" novalidate method="POST" class="form" id="form-hero">
        
                    <div class="form__group">
                        
                        
                        <input class="form__field" type="text" required name="name_hero" placeholder=" " data-validate-field="name_hero">
                        <label class="form__label" for="name_hero"> * Ім`я </label>
                    
                    </div>
                
                    <div class="form__group">
                        
                        <input class="form__field" type="tel" required name="tel_hero" placeholder="+38 (0__) ___ - __ - __" data-validate-field="tel_hero">
                        <label class="form__label_tel" for="tel_hero">
                            Телефон
                        </label>
                    
                    </div>
                  
        
                    <div class="form__group">
                        <input type="submit" value="Надіслати" class="btn">
                    </div>
        
                </form>
            </div>

        </div>
     
      </div>
    </div>
  </div>


{{ if .btn }}
{{ with .btn }}
 <a class="btn_bg" data-bs-toggle="modal" href="#form-modal-hero" role="button">
    {{ $.btn.label }} 
</a>
{{ end }}
{{ end }}