<!--Form Column-->
<div class="inner-column">
	<!-- Default Form -->
	<div class="form_wrap">

		<h3 class="form_title">
			{{ $.Site.Params.form.title }}
			Заявка на підключення
		</h3>

		<h4 class="form_subtitle">
			Відправте форму, і наш менеджер зв'яжеться з вами
		</h4>

		<form action="#" id="form" novalidete method="POST" class="form">

			<div class="form_group">
				
				
				<input class="form_field" type="text" required name="name" placeholder=" ">
				<label class="form_label" for="name"> * Ім`я </label>
			
			</div>
			<div class="form_group">
				
			
				<input class="form_field" type="email" required name="email" placeholder=" ">
				<label class="form_label" for="email">* Email</label>

			</div>
			<div class="form_group">
				
				
				<input class="form_field" type="tel" required name="tel" placeholder=" ">
				<label class="form_label" for="tel">+38 (0__) ___ - __ - __</label>
			
			</div>
			<div class="form_group">
				
			
				<input class="form_field form_field__error" type="text"  name="url">
				<label class="form_label" for="url">
					Сайт магазину
				</label>

			</div>

			<div class="form_group">
				<input type="submit" value="Надіслати" class="btn">
			</div>

		</form>
	</div>
</div>
<!--End Default Form -->