<svg width="0" height="0" class="hidden">
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 43" id="i-5">
    <g filter="url(#filter0_d_2_123)">
      <path d="M23.0728 18.2695C23.5546 17.8696 23.5546 17.1304 23.0728 16.7305L13.6386 8.90068C12.9869 8.35982 12 8.82329 12 9.67019L12 25.3298C12 26.1767 12.987 26.6402 13.6386 26.0993L23.0728 18.2695Z" fill="#0A6FFF"></path>
    </g>
    <defs>
      <filter id="filter0_d_2_123" x="0" y="0.668335" width="35.4342" height="41.6633" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="6"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix type="matrix" values="0 0 0 0 0.164706 0 0 0 0 0.027451 0 0 0 0 0.996078 0 0 0 0.7 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_123"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_123" result="shape"></feBlend>
      </filter>
    </defs>
  </symbol>
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 10" id="i-menu">
    <line x1="0.826416" y1="0.747559" x2="32.8264" y2="0.747559" stroke="white"></line>
    <line x1="0.826416" y1="8.74756" x2="32.8264" y2="8.74756" stroke="white"></line>
  </symbol>
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="i-1">
    <path d="M15.5858 7L5.63604 16.9497C5.24552 17.3403 5.24552 17.9734 5.63604 18.364C6.02656 18.7545 6.65973 18.7545 7.05025 18.364L17 8.41421V14C17 14.5523 17.4477 15 18 15C18.5523 15 19 14.5523 19 14V7C19 5.89543 18.1046 5 17 5H10C9.44772 5 9 5.44772 9 6C9 6.55228 9.44772 7 10 7H15.5858Z" fill="black"></path>
  </symbol>
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 9" id="i-2">
    <path d="M12.25 1.75L6.75 7.25L1.25 1.75" stroke="#1556EE" stroke-width="2" stroke-linecap="round"></path>
  </symbol>
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 29" id="i-3">
    <rect x="1" y="1" width="15" height="27" rx="7.5" stroke="#E9E9E9" stroke-width="2"></rect>
    <path d="M8.5 6V10" stroke="#E9E9E9" stroke-width="2" stroke-linecap="round"></path>
  </symbol>
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 43" id="i-4">
    <g filter="url(#filter0_d_2_124)">
      <path d="M23.7422 18.2623C24.2125 17.8629 24.2125 17.1371 23.7422 16.7377L14.5572 8.93928C13.9076 8.38774 12.91 8.84942 12.91 9.70157L12.91 25.2984C12.91 26.1506 13.9076 26.6123 14.5572 26.0607L23.7422 18.2623Z" fill="#FF2B77"></path>
    </g>
    <defs>
      <filter id="filter0_d_2_124" x="0.910004" y="0.699646" width="35.185" height="41.6007" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="6"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.168627 0 0 0 0 0.466667 0 0 0 0.7 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_124"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_124" result="shape"></feBlend>
      </filter>
    </defs>
  </symbol>
</svg>